
<h3>Chat</h3>
<hr>


<div id="app-messages" class="app-messages">

  <div  *ngFor="let chat of _cs.chats | async"
        [ngClass]="{ 'text-right': _cs.user.name == chat.name}">

    <span class="badge" [ngClass]="{ 'badge-primary': _cs.user.name == chat.name,
                                     'badge-warning': _cs.user.name != chat.name}">
          {{ chat.name }}
    </span>

    <p>
      {{ chat.message }}
    </p>

  </div>


<!--
  <div class="text-right">

    <span class="badge badge-primary">Mon</span>
    <p>
      Testing messages!
    </p>

  </div>


  <div>

    <span class="badge badge-warning">Txell</span>
    <p>
      Again, testing messages!
    </p>

  </div>
-->


</div>

<input [(ngModel)]="message"
        name="message"
        (keyup.enter)="send()"
        class="form-control"
        placeholder="message...">
