
<h3>Chat</h3>
<hr>


<div id="app-messages" class="app-messages">

  <div  *ngFor="let chat of _cs.chats | async"
        [ngClass]="{ 'text-right': _cs.user.user.uid == chat.uid }">

    <span class="badge" [ngClass]="{ 'badge-primary': _cs.user.user.uid == chat.uid,
                                     'badge-success': _cs.user.user.uid != chat.uid }">
          {{ chat.name }}
    </span>

    <p>
      {{ chat.message }}
    </p>

  </div>

</div>

<input [(ngModel)]="message"
        name="message"
        (keyup.enter)="send()"
        class="form-control"
        placeholder="message...">
